@import ../../../variables

.container
    width: 100%
   	height: 100%
    background: $primary-background

.header
    background: $primary-color
    height: 7.5vh

.menu
    background: $primary-color-dark
    height: 6vh
    
.nav
    botton: -1px
    position:absolute

ul
    list-style: none
    margin: 0
    padding: 0
    display: block

li
    float: left
    display: list-item
    box-sizing: border-box