<h3>Registro</h3>
<p>
  Second layout contained in the layout father
</p>
<div class="row">
    <div class="col-xs-10 offset-xs-1 col-md-4 offset-md-2">
        <a (click)="changeView('login')" routerLinkActive="active"
            role="button" class="btn btn-cancel btn-block">
            Cancelar
        </a>
    </div>
    <div class="col-xs-10 offset-xs-1 col-md-4">
        <a (click)="changeView('login')" routerLinkActive="active"
            role="button" class="btn btn-confirm btn-block">
            Registrarme
        </a>
    </div>
</div>
