<p-dialog header="Aviso" [(visible)]="display" modal="true" draggable="false" dismissableMask="true">
    {{message}}
</p-dialog>
<p-blockUI [blocked]="blocked"></p-blockUI>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>Acceso</h2>
        <p>
            Genera y administra reportes, revisa los estados de reportes y detalles de las transacciones de los clientes de prosa
        </p>
        <label>
            <input type="text" placeholder="Usuario" [(ngModel)]="user"/>
        </label>
        <label>
            <input type="password" placeholder="Contraseña" [(ngModel)]="password"/>
        </label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <button routerLinkActive="active" class="btn-confirm btn-block" (click)="login();">Ingresar</button>
    </div>
</div>