//INPUTS RESET
input
    &:active,&:focus
        outline: none
        box-shadow: none

label
	display: block
	margin: 1em 0
	border-bottom: 1px solid $primary-text-color
	input
		width: 100%
		padding: 0.5em 1em
		border: none
		text-align: left