//INPUTS RESET
input
    &:active,&:focus
        outline: none
        box-shadow: none

label
	display: block
	margin: 1em 0
	border-bottom: 1px solid $primary-text-color
	input
		width: 100%
		padding: 0.5em 1em
		border: none
		text-align: left

.control-box
	background: white
	+border-radius(0.2em)
	label
		display: inline-block
		margin: 0 0.3em
		border-bottom: 1px solid rgba($primary-text-color, 0.5)
		input
			font-size: 0.8em
			padding: 0.2em
			width: auto		
		.icon
			margin-right: 0.2em
	.btn-confirm
		font-size: 0.8em
		font-weight: normal
		padding: 0.5em 1em
		margin: 1em
	.float-right
		margin: 1.3em 1em 0
		cursor: pointer

//Responsive
@media screen and(max-width: 768px)
	.control-box
		text-align: center
		padding-bottom: 1em
		label
			text-align: left
			margin: 1em 0
			display: block
			input
				text-align: left
				width: 90%
				padding: 0.5em
		.btn-confirm
			width: 100%
			margin: 1em 0
		.float-right
			float: none !important
			margin: 1em

